services:
  web:
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/dockerapp
      - /dockerapp/node_modules

  backend:
    build: ./backend
    environment:
      - NODE_ENV=development
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/dockerapp
      - /dockerapp/node_modules