* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(51, 51, 51);
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  min-height: 100vh;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}
